@import "../../assets/scss/styles.scss";

/* Themes images and color properties */
.light {
  .modal {
    background-color: rgba($color: white, $alpha: 0.8);

    &__container {
      background-color: white;
      box-shadow: 0 0 0.75em $light-gray;
    }
  }
}

.dark {
  .modal {
    background-color: rgba($color: black, $alpha: 0.8);

    &__container {
      background-color: $black;
    }

    &__transaction,
    &__tx {
      &--value {
        color: white;
      }
    }
  }
}

/* Layout properties */
.modal {
  @include flex-center();
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.1s;

  &__container {
    width: 37.125em;
    text-align: center;
    padding: 3em;
    border-radius: 25px;
    box-sizing: border-box;
  }

  &__process {
    @include flex-column();
  }

  &__title {
    width: 100%;
  }

  &__progress {
    margin: 3vh auto 3vh;
    width: 4em;
  }

  &__loader {
    stroke-dasharray: 50;
    stroke-dashoffset: 0;
    animation: load 4s linear infinite;
    transform-origin: center;
    color: $blue;

    @keyframes load {
      0% {
        stroke-dashoffset: 50;
      }
      50% {
        stroke-dashoffset: 0;
      }
      100% {
        stroke-dashoffset: -50;
      }
    }
  }

  &__icon {
    @include flex-center();
    width: 3em;
    height: 3em;
    margin: 0 auto;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: $blue;
  }

  &__check {
    color: $blue;
  }

  &__transaction {
    margin: 3vh 0 3vh 0;
    &--value {
      color: $black;
      font-family: "Inter", "Tahoma", sans-serif;
      font-weight: 700;
    }

    &--message {
      margin-top: 1vh;
      font-weight: 600;
      font-size: 0.85rem;
      color: $light-gray;
    }
  }

  &__tx {
    @include flex-wrap();
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: $light-gray;
    border-radius: 15px;
    margin-bottom: 3vh;

    &--hash,
    &--fee {
      @include flex-wrap();
      width: 50%;
      box-sizing: border-box;
      padding: 2vh 0 2vh 0;
    }

    &--fee {
      border-width: 0 0 0 1px;
      border-style: solid;
      border-color: $light-gray;
    }

    &--title,
    &--value {
      width: 50%;
      font-size: 0.8rem;
    }

    &--title {
      font-weight: 600;
      color: $light-gray;
    }

    &--value {
      color: $black;
      font-family: "Inter", "Tahoma", sans-serif;
      font-weight: 700;
    }
  }

  &__cta {
    width: 100%;
    margin-bottom: 3vh;
  }
}
